.main {
  width: 100%;
  margin: auto;
  height: 100%;
  border: 1px solid #04ff4a;
  stroke: #04ff4a;
  border-radius: 10px;
  margin-top: 50px;
  background-color: aliceblue;
  color: #85bc2d;

}

.actions {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  align-items: center;
  gap: 10px;
}

.heading {
  width: 100px;
  font-size: 18px;
  color: #85bc2d;
}

.actions_btn {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #d2f290;
  height: 40px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
.actions_input {
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgb(142, 139, 140) inset;
  background-color: #d2f290;
  width: 30px;
  text-align: center;
  color: black;
}
button {
  height: 25px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-align: center;
  width: 25px;
  cursor: pointer;
}
.input_box {
  width: 300px;
  margin: auto;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #85bc2d;
  border-radius: 10px;
  height: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 300px;
  height: 7px;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #acdf46;
  border: 5px solid #d2f290;
  margin-top: -10px;
  cursor: pointer;
}

.input_text {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;
}
span {
  font-size: 14px;
  color: #85bc2d;
}

.insight_box {
  width: 350px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #85bc2d;
  padding: 10px;
  padding-bottom: 0px;
}
.data_box {
  display: flex;
  justify-content: space-between;
}
.sub_heading {
  color: #85bc2d;
  font-size: 16px;
  margin-top: 0px;
}

.sub_heading > p {
  font-size: 14px;
}
